@charset "utf-8";

body {

}

/* header CSS */

.header-icon img{
    width: 370px;
    height: 250px;
    padding-top: 30px;
    padding-left: 30px;
}

.nav-li {
    list-style: none;
}




















/* main CSS */




















/* footer CSS */